<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herry.phonesecurity"
    android:versionCode="10012"
    android:versionName="01.00.11" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".view.SecuritySettingActivity"
            android:theme="@android:style/Theme.Light"
            android:windowSoftInputMode="adjustPan" >

            <!--
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:name=".view.ViewControlActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:name=".view.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.MainTabActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:name=".view.MainSettingActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".view.MainAlarmSettingActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.MainPwdSettingActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.AboutActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.AlarmAboutActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.AlarmControlActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- service -->
        <service android:name=".AlarmPlayService" >
        </service>

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/alarm_title"
            android:launchMode="singleTop"
            android:name=".view.AlarmSettingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/user_pwd_setting"
            android:launchMode="singleTop"
            android:name=".view.PwdSettingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.PlayRingActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".view.TestActivity" />

        <receiver android:name=".BroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.herry.phonesecurity.intent.SENT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.herry.phonesecurity.intent.DELIVERED" />
            </intent-filter>
        </receiver>

        <service android:name=".SendSmsIntentService" />

        <receiver android:name=".SmsBroadcastReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".HandleAlarmService" />
        <service android:name=".SimChangeNotifyService" />
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-sdk android:minSdkVersion="3" />

</manifest>