<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doo360.crm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SoftwareListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.PersonalCenterListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.MsgCenterListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.AddressListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.DetailAddressActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.TestActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <service
            android:name=".service.DownloadApkService"
            android:exported="false" >
        </service>

        <provider
            android:name=".provider.CrmProvider"
            android:authorities="com.doo360.crm"
            android:exported="false" >
        </provider>

        <!-- baidu related -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>