<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.herry.relaxreader"
    android:versionCode="1"
    android:versionName="01.001" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- ad permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ad offer permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".RelaxReaderApp"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".RelaxReaderActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >

            <!--
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".RelaxReaderTableActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".PageViewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".AppOfferTipActivity"
            android:theme="@style/Theme.MyDialog"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".MonthSelectActivity"
            android:theme="@style/Theme.MyDialog"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".AboutActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <!-- ad activity -->
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name="net.youmi.android.AdActivity" >
        </activity>
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name="net.youmi.android.appoffers.YoumiOffersActivity" >
        </activity>

        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="10050" />
    </application>

</manifest>