<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herry.databackup"
    android:versionCode="10007"
    android:versionName="01.00.06" >

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:name=".DatabackupApp"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.NewTabActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.NewDataStatActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.NewDataBackupActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.NewDataBrowseActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:name=".view.MainActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/main_calllog_title"
            android:launchMode="singleTop"
            android:name=".view.CalllogPrefActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/main_sms_title"
            android:launchMode="singleTop"
            android:name=".view.SmsPrefActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/calllog_view_title"
            android:launchMode="singleTop"
            android:name=".view.CalllogViewListActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:name=".view.TestEapandActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/sms_view_title"
            android:launchMode="singleTop"
            android:name=".view.SmsViewListActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/sms_detail_view_title"
            android:launchMode="singleTop"
            android:name=".view.SmsDetailViewListActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/main_howto_title"
            android:launchMode="singleTop"
            android:name=".view.HowtoActivity" />

        <service
            android:label="@string/content_observer_service_label"
            android:name=".service.ContentObserverService" />

        <receiver android:name=".receiver.AlarmBroadcastReceiver" >
            <intent-filter >
                <action android:name="com.herry.databackup.intent.ACTION_RESTART_ALARM" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- ad -->
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name="net.youmi.android.AdActivity" />
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name="net.youmi.android.appoffers.YoumiOffersActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk android:minSdkVersion="7" />

</manifest>