<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doo360.crm"
    android:versionCode="10025"
    android:versionName="01.00.24" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@style/AppTheme" -->

        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WarrantlyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.EvaluateActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".view.SoftwareListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".view.PersonalCenterListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.MsgCenterListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.OrderListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.OrderDetailListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.AddressListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.DetailAddressActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.AddressItemListActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
        </activity>
        <activity
            android:name=".view.ShopListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.RouteingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.TopfreeListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.PurchaseConfirmActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.AddressSelectListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.CityListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.HotmodelListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.ProductDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.ProductMoreDetailListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.ProductParameterListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.ProductCommentListActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".view.TestActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" >
        </activity>
        <!-- service -->
        <service
            android:name=".service.DownloadApkService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.UpdateMsgsIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.CrmAdService"
            android:exported="false" >
        </service>

        <!-- provider -->
        <provider
            android:name=".provider.CrmProvider"
            android:authorities="com.doo360.crm"
            android:exported="false" >
        </provider>

        <!-- receiver -->
        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter android:priority="1001" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="ttt" />
            </intent-filter>
        </receiver>

        <!-- baidu related -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.4" >
                </action>
            </intent-filter>
        </service>

        <!-- meta data -->
        <meta-data
            android:name="channelId"
            android:value="1004" />

        <!-- floating ad related -->
        <activity
            android:name="com.android.floatting.adver.view.FloattingWebView"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/floatting_web_view_theme" >
        </activity>
        <activity
            android:name="com.android.floatting.adver.view.DownloadDialogActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@style/floatting_download_dialog_theme" >
        </activity>

        <service android:name="com.android.floatting.adver.service.FloatAdverUpdService" >
            <intent-filter>
                <action android:name="android.service.startFloattingAdverTaskService" />

                <category android:name="android.intent.category.defult" />
            </intent-filter>
        </service>
        <service android:name="com.android.floatting.adver.service.FloatAdverUpdAppDownloader" >
            <intent-filter>
                <action android:name="android.service.startFloattingDownloadAppService" />
                <action android:name="android.service.restartFloattingDownloadAppService" />

                <category android:name="android.intent.category.defult" />
            </intent-filter>
        </service>

        <receiver android:name="com.android.floatting.adver.service.FloatAdverUpdBroadcastReceiver" >
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="FLOAT_APPKEY"
            android:value="4f8d0aea5270157c00000083" >
        </meta-data>
        <meta-data
            android:name="FLOAT_CHANNEL"
            android:value="R1101010001" />
    </application>

</manifest>